FLOTORCH_API_URL=https://gateway.flotorch.cloud
FLOTORCH_API_KEY=sk_32ezQq1arhymYBdsH9geLkhsZaSU0zWDkMTccXSlFPQ=_ZjBhODgyZWItNjcxMi00NDAwLWI2ZDYtZDA0ODExMDk0OTk5_Y2M0MjYxMGEtNmE0Yy00MjZiLWE1ZGYtMDlmMDVmMzI1NTE3
FLOTORCH_MODEL=flotorch/flotorch-claude-sonnet-4-5

FLOTORCH_TIMEOUT=60
APP_ENV=development
